.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 15px;
    margin-top: 15px;
}
.card img{
    width: 95%;
    border-radius: 100px;
}
.card h2{
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin: 5px 0;
}
.card h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(3, 135, 237);
    margin: 6px 0;

}